.only-pelazio-slider {
    margin-top: 25px;
    height: 412px;
    width: 1401px;
    background: linear-gradient(
        257deg
        , #d21e27 -3%, #1a879f 89%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    
   
}
.slider-two-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0 20px 0 20px;
    position: relative;
}
.arrow-right-slider {
    border: 1px solid #ccc;
    background-color: white;
height: 50px;
width: 50px;
border-radius: 50px;
right: 225px;
position: absolute;

top: auto;

display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-left-slider {
    border: 1px solid #ccc;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    
    position: absolute;
    left: -36px !important;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-part-slider {
    height: 100%;
   
flex: 1;
display: flex;
flex-direction: column;
justify-content:center;
align-items: flex-start;

}
.view-all-right-part {
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: #07142C ;
    margin: 20px 50px 40px 0;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.arrow-left-wiev-all {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-part-slider-two  {
    flex: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    

}

.product-part-slider-two {
    border-radius: 15px;
    border: 1px solid #e0e0e0;
width: 18%;
height: 90%;
margin-right: 27px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.top-part-slider {
    flex: 1.2;
    /* margin: 10px; */
    width: 100%;
    height: 50%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}
.image-part-product-slider {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    max-width: 100%;
    
    border-radius: 18px;
}
.detail-part-product-slider {
    flex: 0.8;
    
    width: 90%;
    height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-part-detail {
    width: 100%;
    height: 100%;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
   
}
.price-part {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: flex-end;
    flex: 2;
    
    
}
.discount-part {
    flex: 1;
    
    background-image: url(https://webintheme.ir/wp/pelazio/wp-content/themes/pelazio/assets/img/discount.ee34bf7e.svg);
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 18px;
    width: 45px;
    height: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}